BODY
{
    background: azure;
    width: 1800px;
    font-family: serif;
    font-size: xx-large;
}

div#p1
{
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: underline;
    color: #ff0000;
    border: 5px solid #008000;
    padding: 50px;
}

div#p2
{
    position: absolute;
    left: 30%;
    top: 10px;
    text-decoration: underline;
    color: red;
    border: 5px solid green;
    padding: 50px;
}

div#p3
{
    position: absolute;
    left: 75%;
    top: 20px;
    text-decoration: underline;
    color: red;
    border: 5px solid green;
    padding: 50px;
}

div#in_pic_text
{
    position: absolute;
    top: 0;
    left: 0;
}

img.background
{
    top: 0;
}

.background
{
    position: relative;
    left: 0;
    top: 10px;
    width: 1800px;
    height: 820px;
    z-index: 0;
    clear: both;
}

img#up
{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 4%;
    height: 10%;
    z-index: 1;
}

img.p1_resize
{
    float: left;
    width: 500px;
    height: 400px;
}

img.p2_resize
{
    float: right;
    width: 500px;
    height: 400px;
}
