BODY
{

}

a
{
    color: #3c763d;
}

p
{
    text-indent: 5%;
}

hr
{
    color: red;
    background-color: red;
    border: none;
    height: 1px;
}

.list-group-item, .btn
{
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

#transform1
{
    -webkit-transform: rotate(5deg) scale(0.5) skew(1deg) translate(-400px);
    -moz-transform: rotate(5deg) scale(0.5) skew(1deg) translate(-400px);
    -o-transform: rotate(5deg) scale(0.5) skew(1deg) translate(-400px);
    -ms-transform: rotate(5deg) scale(0.5) skew(1deg) translate(-400px);
    transform: rotate(5deg) scale(0.5) skew(1deg) translate(-400px);
    position: relative;
}

#transform2 {
    -webkit-transform: rotate(-5deg) scale(0.5) skew(1deg) translate(400px);
    -moz-transform: rotate(-5deg) scale(0.5) skew(1deg) translate(400px);
    -o-transform: rotate(-5deg) scale(0.5) skew(1deg) translate(400px);
    -ms-transform: rotate(-5deg) scale(0.5) skew(1deg) translate(400px);
    transform: rotate(-5deg) scale(0.5) skew(1deg) translate(400px);
    position: absolute;
    right: 0;
}
